body{
  max-width: 800px;
  background: #d4bd7f;
  text-align: center;
  text-transform: capitalize;
}
h1{
  font-size: 88px;
}
h4{
  font-style: italic;
}
a {
  color:white;
  display: block;
  text-decoration: none;
  cursor: pointer;
 }
a:hover{
  text-decoration: underline;
}
.croissant-image img{
  max-width: 400px;
  border-radius: 4px;
  margin-top: 20px;
}